{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container container-global mobile">
  <div class="row page-item mx-auto text-center">
    <h2 style="color: #11ED73;">Forgot Username</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn cta-btn2">Send Username</button>
    </form>
    <p class="mt-3 text-center">
      <a href="{% url 'user:password_reset' %}" style="color:#11ED73;">
        Forgot your password?
      </a>
    </p>
  </div>
</div>
{% endblock %}
