{% extends "base.html" %}
{% load static %}

{% block title %}Logged Out{% endblock %}

{% block content %}
  <div class="container container-global mobile text-center">
    <div class="row mx-auto justify-content-center align-items-start">
      <div class="col-12 text-center">
        <img src="{% static 'images/Searchlight-icon-grn.png' %}" alt="searchlight logo" class="img-fluid mb-3" style="max-width: 150px;">
        <h1 style="color: #11ED73;">You have been logged out</h1>
          <p>Stay loud and come back soon for more!</p>
          <a href="{% url 'login' %}" class="btn cta-btn2">Log in again</a>
      </div>
    </div>
  </div>
{% endblock %}


