/*Google fonts import code*/
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

/*global styles*/
body {
    background-color: black;
    font-family: "Geist Mono", monospace;
    font-size: 12px;
    color:whitesmoke;
    height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
}

/*Header*/
.header {
    position: sticky;
    margin-top: 1rem;
    z-index: 1000;
    margin-bottom: 10px;
}
.header img {
    height: 2.5rem;
    width: auto;
    display: block;
}

/*Navbar*/
.navbar-toggler {
    padding: 0.2rem;      /* Shrink the hamburger icon */
    line-height: 1;
    border-color: #11ED73
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%2311ED73' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    width: 20px;            /* match Roxoff logo height */
    height: 20px;
    background-size: 100% 100%; /* ensure SVG scales cleanly */
}
.nav-link:hover {
    color: white;
}
.nav-link {
    color: #11ED73;
    font-size: 0.8rem;
    text-decoration: none;
}
/* Reduce offcanvas width and padding if desired */
.offcanvas.offcanvas-end {
    width: 40vw !important;
}

.offcanvas-body {
  padding-top: 1rem;
  margin-left: auto;   /*pushes it to the far right of the drawer */
}

.offcanvas-body .nav-link {
    text-align: right;
}
.offcanvas-body .nav-link:hover {
    color: whitesmoke;
}


/*Carousel*/
.c-item {
    max-height: 100%;
    padding: 0.8rem;
    background-color: #11ED73;  
}
.c-caption {
    width: 75%;
    left: 12.5%;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
.c-caption p {
    font-size: 1rem;
}
.carousel-item img {
  max-height: 500px;
  object-fit: cover;
}

/*Buttons*/
.cta-btn {
    color: #11ED73;
    border-color: #11ED73;
    border-block-width: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.offcanvas .btn-close {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2311ED73' viewBox='0 0 16 16'%3e%3cpath d='M2.146 2.146a.5.5 0 0 1 .708 0L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  opacity: 1;
  background-size: 1em;
  width: 1em;
  height: 1em;
}





/*footer*/
footer {
    color: #11ED73;
}

/*404 & 500 error message*/
.error-item {
    color: #11ED73;
}


