{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block title %}{{ artist.name }}{% endblock %}

{% block content %}
<div class="container search-item py-4">
  <div class="row mx-auto justify-content-center">
    <div class="col-12 text-center">
      {% if artist.logo %}
        <img src="{{ artist.logo.url }}" alt="{{ artist.name }}'s logo" class="img-fluid mb-3">
      {% else %}
        <img src="https://res.cloudinary.com/dqde3a83z/image/upload/v1748106876/red-horns_meorvq.png" class="card-img-top horns" alt="Default horns image">
      {% endif %}
      {% if artist.bio %}
        <p class="bio">{{ artist.bio }}</p>
      {% endif %}
      {% if artist.website %}
        <p class="link website">Website: <a class="website-link" href="{{ artist.website }}" target="_blank">{{ artist.website }}</a></p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}