{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block title %}Events{% endblock %}

{% block content %}

<div class="container event-container">
    <div class="row">
      {% for event in events %}
        <div class="col-sm-1 col-md-2 col-lg-3 g-4">
          <div class="card events-card">
            {% if event.image and event.image.url and "placeholder" not in event.image.url %}
            <img src="{{ event.image.url }}" class="card-img-top" alt="Event image">
            {% else %}
            <img src="https://res.cloudinary.com/dqde3a83z/image/upload/v1756024898/logo_mbpdhs.png" class="card-img-top logo img-fluid" alt="Default horns image">
            {% endif %}

            <div class="card-body text-left">
                <h5 class="card-title">
                {% if event.artist %}
                  <a href="{% url 'products:artist_detail' pk=event.artist.pk %}" style="color:#11ED73">{{ event.artist.name }}</a><br>
                {% endif %}
              </h5>

              <p class="card-text text-left">
                {% if event.artist %}
                  <a href="{% url 'products:artist_detail' pk=event.artist.pk %}" style="color:#11ED73">
                    {{ event.artist.name }}
                  </a>
                {% endif %}<br>
                Description: 
                  {{ event.description }}<br><br>
                Venue:                        
                  {% if event.venue %}
                    <a href="{% url 'products:venue_detail' pk=event.venue.pk %}" style="color:#11ED73">
                      {{ event.venue.name }}
                    </a>
                  {% endif %}<br>
                Door Time: 
                  {{ event.door_time|time:"H:i" }}<br>
                Start Time: 
                  {{ event.start_time|time:"H:i" }}<br>
                Age Restriction: 
                  {{ event.get_age_display }}<br><br>
                Gig Date: 
                  {{ event.gig_date|date:"d/m/Y" }}<br>
                Genre: {{ event.get_genre_display }}<br>
                Price: £{{ event.price }}<br>
              </p>
              <div class="card-footer text-center">
                <a href="https://wegottickets.com/event/656935" class="btn cta-btn" target="_blank" aria-label="get event tickets">Get Tickets</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{%endblock content %}