{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block title %}Merch{% endblock %}

{% block content %}
<div class="container container-global mobile">

    <!-- List View -->
    <div class="row justify-content-center">
        {% for m in items %}
      <div class="col-12 col-md-6 col-lg-3 col-xl-3 mb-1 d-flex justify-content-center align-items-center py-2 mx-auto">
        <div class="card standard-card h-100 d-flex flex-column">
          {% if m.image %}
            <img src="{{ m.image.url }}" class="card-img-top img-fluid" alt="{{ m.product_name }}">
          {% endif %}
          <div class="card-body">
            <h2 class="merch-title">{{ m.product_name }}</h2>
            <div class="merch-description">
              {% if m.product_description %}
                {{ m.product_description|linebreaks }}
              {% endif %}
              {{ m.get_product_category_display }}
              {% if m.size %} • {{ m.size|upper }}{% endif %}
              {% if m.price %} • £{{ m.price }}{% endif %}
            </div>
          </div>
          <div class="card-footer mb-2">
            <a class="btn cta-btn mb-1" href="{% url 'products:merch_detail' m.pk %}">View</a>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No merch available.</p>
    {% endfor %}
  </div>
  
  <!-- Pagination -->
  {% if page_obj.has_other_pages %}
    <nav class="mt-3">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Prev</a>
          </li>
        {% endif %}
        <li class="page-item disabled">
          <span class="page-link">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>
        </li>
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
</div>
{% endblock %}