{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block title %}Previous Gigs{% endblock %}

{% block content %}
<div class="container container-global mobile">
  <div class="row justify-content-center">
    {% for event in events %}
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 g-4 mx-auto">
        <div class="card standard-card h-100 d-flex flex-column">

          <!-- Event Image with Placeholder Check -->
          {% if event.image and event.image.url and "placeholder" not in event.image.url %}
          <img src="{{ event.image.url }}" class="card-img-top img-fluid" alt="Event image">
          {% else %}
          <img src="https://res.cloudinary.com/dqde3a83z/image/upload/v1756024898/logo_mbpdhs.png" class="card-img-top logo img-fluid" alt="Default horns image">
          {% endif %}

          <!-- Card body -->
          <div class="card-body d-flex flex-column text-center">
            <p class="card-title mb-0">
              {% if event.artist %}
                <a href="{% url 'products:artist_detail' pk=event.artist.pk %}">{{ event.artist.name }}</a><br>
              {% endif %}
            </p>
            {% if event.supporting_artists.all %}
              <p class="sub-title text-left mb-0"> 
                {% for artist in event.supporting_artists.all %}
                  <a href="{% url 'products:artist_detail' pk=artist.pk %}">{{ artist.name }}</a>
                {% endfor %}
              </p>
            {% endif %}
            {% if event.description %}
              <p class="description text-left mb-0">
                {{ event.description|default:" " }}
              </p>
            {% endif %}
          </div>

          <!-- Event Details -->
          <div class="event-details d-flex flex-column text-left">
              <p class="venue">Venue:                         
                {% if event.venue %}
                  <a href="{% url 'products:venue_detail' pk=event.venue.pk %}">
                    {{ event.venue.name }}
                  </a><br>
                {% endif %}
              Door Time: 
                {{ event.door_time|time:"H:i" }}<br>
              Start Time: 
                {{ event.start_time|time:"H:i" }}<br>
              Age Restriction: 
                {{ event.get_age_display }}<br><br>
              Gig Date: 
                {{ event.gig_date|date:"d/m/Y" }}<br>
              Genre: {{ event.get_genre_display }}<br>
              Price: £{{ event.price }}
            </p>
          </div>

          <!-- Footer with button always at bottom -->
          {% if event.is_upcoming %}
          <div class="card-footer text-center"> 
            <a href="#" class="btn cta-btn mb-0" target="_blank" aria-label="get event tickets">Get Tickets</a>
          </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
