{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<!--About-->
<section class="container-fluid text-center">
  <div class="row align-items-start about">
    
    <!-- Title: always left-aligned -->
    <div class="col-12 col-md-2 offset-md-1 text-start mb-3">
      <h2 class="page-title m-0">About</h2>
    </div>

    <!-- Image: full-width on mobile, centered on large screens -->
    <div class="col-12 col-md-10 text-center mx-auto">
      <img src="{% static 'images/about/simon-and-terry-3.jpg' %}"
           class="d-block img-fluid w-auto a-img mx-auto"
           alt="photo of simon and terry">
      <p class="mt-2">Simon (L) and Terry (R)</p>
    </div>
  </div>
    <div class="row align-items-center">
        <div class="col-12 col-md-10 offset-md-1">
            <p>Simon Powell and Terry Nation, the rock ‘n’ roll, power-house duo behind <b>Searchlight Promotions</b>, boasting a combined 25 years of experience in promoting rock and metal gigs. These guys are like musical treasure hunters, passionately scouring the land for up-and-coming unsigned rock and metal bands for Norwich.</p>
        </div>
    </div>
  </div>
  
  <!--About grn bar-->  
  <div class="row gy-2 align-items-center">
    <div class="col-10 mx-auto">
        <p class=" a-item"><b>...but wait there's more...</b></p>
    </div>
  </div>
</section>

<!--About text-->
<div class="container-fluid">
    <div class="row gy-2 align-items-center">
        <div class="col-10 text-center mx-auto">
            <p>Whether they're at other gigs or festivals across the country, Simon and Terry are on a mission to find the next big thing in music. With their eyes peeled and ears wide open, hunting for those hidden gems ready to unleash their sound on the world!
            <p></p>Simon and Terry, kicked off their own epic journeys in the music scene: Simon with his brainchild - <em>POWer Promotions</em>, and Terry launching the intergalactic vibes of <em>Alien Nation</em>.</p> 
            <p>But when they decided to join forces, that's when the magic happened!</p> 
            <p>Enter <b>Searchlight Promotions</b>, dedicated to shining a spotlight on the freshest talent in the biz. Their mission? To champion unsigned musicians and bands spanning everything from classic rock to thumping heavy metal.</p>
            <p>Riding high on their success with <b>Searchlight Promotions</b>, our dynamic pair birthed <b>ROXOFF</b>, a one-day music festival that kicked off in 2024. This.Is.A.Wild.Indoor bash at <em>The Brickmakers</em> in  Norwich.</p>
            <p>The dream is to transform <b>ROXOFF</b> into an epic outdoor, two-day festival complete with camping and all the glorious chaos that comes with it; old and new friendships forged over cold beers while headbanging to emerging rock and metal bands in the glorious British weather.</p>
            <p>Experience the most heart-pounding events in Norwich. <b>SEARCHLIGHT PROMOTIONS</b> are the ultimate heavy metal and rock promotions company that serves it loud with a cold one!</p>
        </div>
    </div>
</div>

<!--Find ticket btn-->
<div class="container text-center">
    <div class="row align-items-center">
        <div class="col-sm-8 col-md-6 mx-auto">
            <a class="btn cta-btn" href="" target="_blank" aria-label="find tickets for searchlight promotion gigs at we got tickets.com">Find Tickets HERE! </a>
        </div>
    </div>
</div>

{% endblock content %}

