<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
        <h1 style="color:red;">Hello AX you awesome beast!</h1>
        <nav>

    </header>

    <main>
        <h2 style="color:green">This is about to explode into something beautiful!</h2>
        <p>With exciting content</p>
    </main>

    <footer>
        <p>&copy; 2025 /*axdesigns*/</p>
    </footer>

</html>