{% extends 'base.html' %}
{% load static %}

{% block title %}Thank You{% endblock %}

{% block content %}
<!--Thank you message-->
<div class="container">
    <div class="row">
      <div class="col text-center ty-item">
        <img src="{% static 'images/Searchlight-icon-grn.png' %}" alt="logo">
        <h1>Thank you for contacting us!</h1>
        <p>Your submission has been received and we will be in touch shortly.</p>
        <p>You can close this window to go back to the website.</p>
      </div>
    </div>
</div>
{%endblock content %}