{% extends 'base.html' %}
{% load static %}

{% block title %}404 Page Not Found{% endblock %}

{% block content %}
<!--Error message-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-11 col-md-8 text-center align-items-center error-item">
      <img src="{% static 'images/Searchlight-icon-grn.png' %}" alt="logo" class="img-fluid mx-auto d-block">
      <h1>Ooooops!</h1>
        <p>Something seems to have gone wrong, but fear not...</p>
        <p>If the problem persists please send us a message and we will jump on it to fix it.</p>
        <a href="{% url 'core:home' %}" class="btn cta-btn">Return home</a>
    </div>
  </div>
</div>
{% endblock %}




