{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon goes here (outside of title) -->
    <link rel="icon" type="image/png" href="{% static 'images/Searchlight-icon-grn.png' %}">

    <!-- Title block -->
    <title>
    {% block title %}Searchlight Promotions{% endblock %}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<!--Header-->
<header class="container-fluid header">
    <div class="row">
        <div class="col header-brand">
            <a id="logo" href="/">
            <img src="{%static 'images/logo.png' %}" alt="logo for searchlight promotions" class="d-inline-block header-img">SEARCHLIGHT PROMOTIONS</a>        
        </div>
    </div>
</header>

{% block content %}
{% endblock %}

<footer>
    <p>&copy; 2024 /*axdesigns*/</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    console.log("🎉 Bootstrap JS is loaded!");
  });
</script>

</body>
</html>