{% extends 'base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}

<!--Contact-->
<div class="container container-global mobile">
  <div class="row justify-content-center text-center">

    <div class="col-12 text-left cp-text">
      <p>Come and find us upfront at everything heavy and rock-tastic. Or just tap, tap, tap (below) and we will be in touch to see what we can do for you.</p>
      <p>The sonic shenanigans take place mainly at <em>The Brickmakers</em> [496 Sprowston Rd, Norwich NR3 4DY] and <em>B2 Venue</em> [behind The Brickmakers, NR3 4DY] in Norwich.</p>
      <p>If you are looking to have a nosey and see what we've got cooking for the future that is not already listed here, or other conversations on socials, check us out on our Facebook Page (link below).</p>
      <p>Stay Loud! Simon and Terry</p>
    </div>
  </div>

  <!-- Contact form -->
  <form method="POST" action="{% url 'core:contact' %}" novalidate>
  {% csrf_token %}
    <div class="container text-start">
      <div class="row g-3">
        <div class="col-md-6">
          <label for="firstName" class="cp-item">First Name:</label>
          <input type="text" class="form-control" id="firstName" name="first_name" required>
            {% for error in form.first_name.errors %}
              <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="col-md-6">
          <label for="lastName" class="cp-item">Last Name:</label>
          <input type="text" class="form-control" id="lastName" name="last_name" required>
            {% for error in form.first_name.errors %}
              <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}          
        </div>
        <div class="col-md-8">
          <label for="email" class="cp-item">Email Address:</label>
          <input type="email" class="form-control" id="email" placeholder="you@example.com" name="email" required>
            {% for error in form.first_name.errors %}
              <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="col-md-4">
          <label for="phone" class="cp-item">Phone Number:</label>
          <input type="text" class="form-control" id="phone" name="phone" placeholder="+44 77123456789">
            {% for error in form.first_name.errors %}
              <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="col-12">
          <label for="message" class="cp-item">Message:</label>
          <textarea class="form-control" id="message" name="message" rows="5" placeholder="Please add your message, comments, feedback or questions here..." required></textarea>
            {% for error in form.first_name.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
        </div>
      </div>

  <!-- Hidden input field to pass custom parameters -->
      <div class="row align-items-center justify-content-evenly">
        <div class="col-6">
          <button type="submit" class="btn cta-btn fs-6">Send</button>
        </div>
        <div class="col-6 text-end">
          <a class="btn cta-btn2" href="https://www.facebook.com/SearchlightNorwich" target="_blank">Facebook</a>
        </div>
      </div>
    </div>  
  </form>
</div>
{% endblock content %}
