{% extends 'base.html' %}
{% load static %}

{% block title %}Checkout Summary{% endblock %}

{% block content %}
<div class="container container-global mobile">
    <a class="btn cta-btn2 mb-2" href="{% url 'checkout:restore_basket' order.id %}">← Back to Basket</a>

    <div class="row justify-content-center">
        <div class="col-lg-8">
            
            <!-- Checkout Summary -->
            <h4 class="mb-2">Order Summary</h4>

            <div class="card merch-card mb-2">
                <div class="card-header cp-item d-flex justify-content-between align-items-center">
                    <strong>Order #{{ order.id }}</strong>
                    <span class="cp-item">{{ order.created_at|date:"d M Y" }}</span>
                </div>
                <div class="card-body">
                    <ul class="list-group mb-3">
                        {% for item in order_items %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto text-start">
                                {% if item.event %}
                                    <strong>{{ item.event }}</strong><br>
                                    Cost: {{ item.quantity }} x £{{ item.price|floatformat:2 }}<br>
                                    Booking Fee (10%): £{{ item.booking_fee|floatformat:2 }}<br>
                                {% elif item.merch %}
                                    <strong>{{ item.merch.product_name }}</strong><br>
                                    Cost: {{ item.quantity }} x £{{ item.price|floatformat:2 }}<br>
                                    Delivery: £{{ item.delivery_fee|floatformat:2 }}
                                {% endif %}
                            </div>
                            <div class="text-end">
                                £{{ item.total_with_fees|floatformat:2 }}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>

                    <hr>

                    <!-- Totals -->
                    <div class="mt-3 mb-4 text-end cp-item">
                        <strong>Total: £{{ basket_total|floatformat:2 }}</strong>
                    </div>

                    <!-- Proceed to Payment -->
                    <div class="d-flex justify-content-end mb-2">
                        <form method="get" action="{% url 'payments:payment_checkout' order.id %}" target="_self">
                            <button type="submit" class="btn cta-btn2 mb-2">
                                Proceed to Payment
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
