{% extends 'base.html' %}
{% load static %}

{% block title %}Order Confirmation{% endblock %}

{% block content %}
<div class="container container-global mobile text-center">
  <div class=" row mx-auto justify-content-center align-items-start page-item">
    <div class="col-12 text-center">
      <img src="{% static 'images/Searchlight-icon-grn.png' %}" alt="searchlight logo" class="img-fluid mb-3" style="max-width: 150px;">
      <h1 style="color: #11ED73;">You absolute legend!</h1>
      <p>Your order has been placed successfully</p>
      <p>To track your order history and current order status, got to your profile page</p>
      <p>Your shipping details have been saved for next time</p>
      <a href="{% url 'user:profile_view' %}" class="d-md-none btn cta-btn2">Profile</a>
    </div>
  </div>
</div>
{% endblock %}
